### Importing the libraries and scraping the link

In [1]:
import pandas as pd
import numpy as np

table_PD = pd.read_html('https://media.pearsoncmg.com/ph/bp/bp_studenmund_econometrics_7/exercises/IE1/table1.htm')

In [2]:
print(f'Total tables: {len(table_PD)}')

Total tables: 1

In [3]:
type(table_PD)

list

### Viewing the scraped table

In [4]:
df=pd.DataFrame(np.concatenate(table_PD))
df.columns

RangeIndex(start=0, stop=7, step=1)

In [5]:
df.columns = ['obs', 'QDPASS', 'QYDUS', 'QYPERM', 'BRANCH', 'QRTB3Y', 'EXPINF']

In [6]:
df["BRANCH"][13] = df["BRANCH"][13]/1000

In [7]:
df.head()

      obs QDPASS  QYDUS  QYPERM BRANCH   QRTB3Y EXPINF
0  1970:1  84312  671.5  646.39   8498  7.50124    4.8
1  1970:2  83141  692.4  659.41   8498  6.96499    5.8
2  1970:3  82754  705.8   675.3   8498  6.56905    4.9
3  1970:4  84120  711.5  690.33   8372  5.50735    3.5
4  1971:1  85525  732.7  701.97   8722  3.95562    5.9

### Wrangling the data

In [8]:
df.dtypes

obs       object
QDPASS    object
QYDUS     object
QYPERM    object
BRANCH    object
QRTB3Y    object
EXPINF    object
dtype: object

In [9]:
df['obs'] = df['obs'].str.replace(':','-')
df["QDPASS"] = pd.to_numeric(df["QDPASS"], downcast="float")
df["QYDUS"] = pd.to_numeric(df["QYDUS"], downcast="float")
df["QYPERM"] = pd.to_numeric(df["QYPERM"], downcast="float")
df["BRANCH"] = pd.to_numeric(df["BRANCH"], downcast="float")
df["QRTB3Y"] = pd.to_numeric(df["QRTB3Y"], downcast="float")
df["EXPINF"] = pd.to_numeric(df["EXPINF"], downcast="float")

In [10]:
df = df.reset_index()
df.head()

   index     obs   QDPASS       QYDUS      QYPERM  BRANCH    QRTB3Y  EXPINF
0      0  1970-1  84312.0  671.500000  646.390015  8498.0  7.501241     4.8
1      1  1970-2  83141.0  692.400024  659.409973  8498.0  6.964994     5.8
2      2  1970-3  82754.0  705.799988  675.299988  8498.0  6.569049     4.9
3      3  1970-4  84120.0  711.500000  690.330017  8372.0  5.507346     3.5
4      4  1971-1  85525.0  732.700012  701.969971  8722.0  3.955616     5.9

MMCDUM is a dummy variable equal to zero before the third-quarter 1978 legalization of money market certificates and equal to one thereafter

In [11]:
print(df[df["obs"] == "1978-3"].index)

Int64Index([34], dtype='int64')

In [12]:
mm=[]
for i in df["index"]:
    if i < 34:
        mm.append(0)
    else:
        mm.append(1)
        
df["MMCDUM"] = mm

QRDPASS was 5 percent until the fourth quarter of 1973, when it changed to 5.25 percent, where it remained until the third quarter of 1979 when it rose to 5.50 percent.

In [13]:
print(df[df["obs"] == "1973-4"].index)
print(df[df["obs"] == "1979-3"].index)

Int64Index([15], dtype='int64')
Int64Index([38], dtype='int64')

In [14]:
qp=[]
for i in df["index"]:
    if i < 15:
        qp.append(5)
    elif i >= 15 and i < 38:
        qp.append(5.25)
    else:
        qp.append(5.50)
        
df["QRDPASS"] = qp

In [15]:
df["SPREAD"] = df["QRDPASS"] - df["QRTB3Y"]

In [16]:
df = df[["index","obs","QDPASS","QYDUS","QYPERM","QRDPASS","QRTB3Y","SPREAD","MMCDUM","EXPINF","BRANCH"]]

In [17]:
df = df.set_index("index")

### Viewing the final dataset

In [18]:
df

,obs,QDPASS,QYDUS,QYPERM,QRDPASS,QRTB3Y,SPREAD,MMCDUM,EXPINF,BRANCH
index,,,,,,,,,,
0,1970-1,84312.0,671.500000,646.390015,5.00,7.501241,-2.501241,0,4.8,8498.0
1,1970-2,83141.0,692.400024,659.409973,5.00,6.964994,-1.964994,0,5.8,8498.0
2,1970-3,82754.0,705.799988,675.299988,5.00,6.569049,-1.569049,0,4.9,8498.0
3,1970-4,84120.0,711.500000,690.330017,5.00,5.507346,-0.507346,0,3.5,8372.0
4,1971-1,85525.0,732.700012,701.969971,5.00,3.955616,1.044384,0,5.9,8722.0
5,1971-2,89286.0,749.299988,716.929993,5.00,4.310242,0.689758,0,5.7,8722.0
6,1971-3,90618.0,757.599976,732.409973,5.00,5.186687,-0.186687,0,5.1,8722.0
7,1971-4,92310.0,767.400024,745.520020,5.00,4.339589,0.660411,0,4.1,8862.0
8,1972-1,95112.0,782.200012,757.369995,5.00,3.513554,1.486446,0,3.2,8862.0
9,1972-2,97361.0,794.500000,769.549988,5.00,3.836743,1.163257,0,5.4,8862.0
10,1972-3,99317.0,815.599976,781.700012,5.00,4.346840,0.653160,0,2.6,8862.0
11,1972-4,101634.0,849.000000,797.770020,5.00,4.979777,0.020223,0,3.6,9584.0
12,1973-1,103884.0,878.900024,821.400024,5.00,5.800682,-0.800682,0,4.8,9977.0
13,1973-2,104905.0,903.500000,848.830017,5.00,6.813935,-1.813935,0,6.3,9977.0
14,1973-3,102782.0,925.299988,876.429993,5.00,8.689076,-3.689076,0,7.2,10547.0
15,1973-4,103231.0,950.299988,901.849976,5.25,7.710729,-2.460729,0,7.7,10547.0
16,1974-1,104492.0,963.900024,926.299988,5.25,7.856835,-2.606835,0,8.6,11324.0
17,1974-2,104675.0,988.599976,946.059998,5.25,8.561761,-3.311761,0,10.8,11324.0
18,1974-3,102871.0,1012.700012,967.200012,5.25,8.581159,-3.331159,0,11.2,12123.0
19,1974-4,104386.0,1028.099976,989.469971,5.25,7.578421,-2.328421,0,12.4,12123.0
20,1975-1,109321.0,1035.199951,1009.159973,5.25,6.044646,-0.794646,0,12.6,13056.0
21,1975-2,114970.0,1105.199951,1023.909973,5.25,5.551466,-0.301466,0,8.2,13056.0
22,1975-3,117018.0,1109.400024,1059.530029,5.25,6.529253,-1.279253,0,6.6,13839.0
23,1975-4,119006.0,1134.500000,1085.170044,5.25,5.847297,-0.597297,0,7.8,13839.0
24,1976-1,124515.0,1163.699951,1111.180054,5.25,5.085805,0.164195,0,6.6,14479.0
25,1976-2,127351.0,1180.800049,1138.229980,5.25,5.309831,-0.059831,0,4.2,14479.0
26,1976-3,129752.0,1203.300049,1159.270020,5.25,5.309831,-0.059831,0,4.4,15108.0
27,1976-4,132282.0,1229.599976,1181.750000,5.25,4.820496,0.429504,0,5.5,15108.0
28,1977-1,136636.0,1255.199951,1205.359985,5.25,4.743668,0.506332,0,6.7,15835.0
29,1977-2,139378.0,1291.900024,1229.699951,5.25,4.956230,0.293770,0,7.4,15835.0
30,1977-3,142246.0,1335.500000,1259.569946,5.25,5.625816,-0.375816,0,6.6,16439.0
31,1977-4,143466.0,1373.500000,1295.770020,5.25,6.301799,-1.051799,0,5.1,16439.0
32,1978-1,146005.0,1405.699951,1333.949951,5.25,6.603971,-1.353971,0,7.2,16955.0
33,1978-2,144368.0,1451.300049,1370.619995,5.25,6.680457,-1.430457,0,6.8,16955.0
34,1978-3,141777.0,1496.199951,1410.479980,5.25,7.556666,-2.306666,1,9.6,17492.0
35,1978-4,134460.0,1542.699951,1452.359985,5.25,8.998331,-3.748331,1,8.3,17492.0
36,1979-1,130017.0,1587.500000,1496.770020,5.25,9.717486,-4.467486,1,8.9,18100.0
37,1979-2,129480.0,1624.000000,1542.180054,5.25,9.737695,-4.487695,1,9.9,18100.0
38,1979-3,125824.0,1674.300049,1584.010010,5.50,10.008770,-4.508770,1,9.5,18676.0
39,1979-4,116100.0,1714.900024,1628.689941,5.50,12.335700,-6.835700,1,10.0,18676.0

### Saving as a stata dta file

In [19]:
df.to_stata('Problem 1 Dataset.dta')